body {
    background-color: lightblue;
    margin: auto;
    margin-top: -35px;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: white;
}

h2 {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: white;
}

h3 {
    margin-top: -15px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: white;
}

.SelectDiv {
    margin: auto;
    width: 812px;
    padding-left: 10px;
}

img {
    position: relative;
    width: 150px;
}

.CenterDiv {
    margin: auto;
    padding-left: 175px;
}